# !!!!!!!!

#  后续所有的环境变量通过配置接口进行管理
# 
#  如果有新增的配置
#  
#  请同步更新到config-kv.init.json文件中
#  
#  否则会导致配置丢失

# !!!!!!!!























# # 数据存储路径
# SQLITE_PATH=~/.digital-employee/data/app.db
# SKILL_PATH=~/.digital-employee/employees-skills

# # 远程API地址
# REMOTE_API_BASE_URL=http://10.172.246.105:18000
# PLATFORM_BASE_URL=http://10.172.246.105:5002

# # DeepAgent
# DEEPAGENT_MODEL=deepseek-v3.2
# CHAT_HISTORY_MAX_MESSAGES=30
# OPENAI_API_KEY=sk-f9441c2d00d140989c1669cb245da166
# BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# # DEEPAGENT_MODEL=GLM-5
# # CHAT_HISTORY_MAX_MESSAGES=30
# # OPENAI_API_KEY=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
# # BASE_URL=https://openrouter.ai/api/v1/chat/completions

# # workspace
# DEFAULT_WORKSPACE_ROOT=./workspaces
# DEFAULT_WORKSPACE_ID=1
# DEFAULT_WORKSPACE_NAME="默认的工作空间"

# # 员工同步接口
# EMPLOYEE_ZIP_PATH=/api/v1/employees/export
# EMPLOYEE_TMP_DIR=./tmp/employees

# # SKILL服务配置
# SKILL_REMOTE_TOKEN=
# SKILL_REMOTE_TIMEOUT=15
# SKILL_REMOTE_RATING=/api/v1/skills/{skill_id}/rating
# SKILL_REMOTE_LIST_PATH=/api/v1/client/skills/export
# SKILL_REMOTE_DETAIL_PATH=/api/v1/client/skills/export/full/{skill_id}

# # MCP服务配置
# MCP_REMOTE_LIST_PATH=/api/v1/client/mcp/export
# MCP_REMOTE_DETAIL_PATH=/api/v1/client/mcp/export/{mcp_id}
# MCP_CLIENT_BASE_PATH=/llm/aios/mcp/client
# MCP_TOOL_CALL_PATH=/tool/call

# # Agent Interface服务配置   
# AGENT_INTERFACE_BASE_URL=http://10.172.246.105:9100
# AGENT_INTERFACE_SKILL_PREFIX=/aios/skill

# # DB Chat服务配置
# DBCHAT_BASE_URL=http://10.172.246.105:19000/api/v1
# DBCHAT_MODEL_CHAT_SIMPLE_PATH=/model/chat/simple

# # 登录服务配置
# LOGIN_PATH=/yc/login