# Anthropic API Key
ANTHROPIC_API_KEY=your_api_key_here

# LangSmith (optional - for tracing and monitoring)
LANGCHAIN_TRACING_V2=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=text2sql-deepagent

# Tavily API (optional - for web search capabilities)
TAVILY_API_KEY=your_tavily_api_key_here


SQLITE_PATH=./data/app.db

# Employee sync
EMPLOYEE_ZIP_URL=http://10.172.246.179:18000/api/v1/employees/export
EMPLOYEE_TMP_DIR=./tmp/employees

# DeepAgent
DEEPAGENT_MODEL=qwen2.5-72b-instruct
CHAT_HISTORY_MAX_MESSAGES=30
OPENAI_API_KEY=sk-f9441c2d00d140989c1669cb245da166
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# workspace
DEFAULT_WORKSPACE_ROOT=./workspaces
DEFAULT_WORKSPACE_ID=1
DEFAULT_WORKSPACE_NAME="默认的工作空间"
